html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  font-size: 16px;
}

:root {
  --background-color: #333333;
  --primary: #424242;
  --border-color: rgba(255, 255, 255, 0.24);
  --text-body-color: rgba(255, 255, 255, 0.8);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
  padding: 24px 32px;
}

.post-list__container {
  background-color: var(--primary);
  border-radius: 0.5rem;
}

.post-list__item {
  display: flex;
  padding: 16px;
  height: 136px;
  overflow: hidden;
  transition: all 0.3s ease-out;
  animation-name: grow-in;
  animation-duration: 0.5s;
}

.post-list__item:not(:last-of-type) {
  border-bottom: 1px solid var(--border-color);
}

.post-list__item:hover {
  transform: perspective(1px) scaleX(1.02);
  border-bottom: 2px solid white;
  background-color: inherit;
  cursor: pointer;
}

.post-list__item .post-list__number {
  margin-top: -8px;
  margin-left: -4px;
  font-size: 1rem;
}

.post-list__user-info {
  margin-top: 4px;
  margin-right: 16px;
}

.post-list__item .post-list__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #bdbdbd;
}

.post-list__item .post-list__text {
  overflow: hidden;
}

.post-list__item .post-list__text .post-list__title {
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: 0.01em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.post-list__item .post-list__text .post-list__body {
  display: -webkit-box;
  margin: 0;
  margin-top: 12px;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-body-color);
  max-width: 1920px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post-loader {
  margin-top: 16px;
  border-radius: 0.5rem;
  height: 72px;
  text-align: center;
  font-size: 2rem;
}

.post-loader::before {
  content: "";
  margin-right: 4px;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1.5rem solid #217aff;
  font-size: 0;
  line-height: 0;
}

.post-page {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  animation-duration: 0.5s;
  animation-name: slide-in;
}

.post-page .card__paper {
  position: relative;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  width: 75%;
  padding: 24px;
  background-color: #424242;
  overflow: hidden;
}

.post-page .card__paper .card__user-info {
  display: flex;
  align-items: center;
}

.card__paper .card__user-info .card__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #bdbdbd;
}

.card__paper .card__content {
  margin-bottom: 24px;
}

.card__paper .card__content .card__title {
  margin: 12px 0 12px 0;
  font-size: 1.5rem;
}

.card__paper .card__content .card__body {
  color: var(--text-body-color);
  font-size: 1.25rem;
  line-height: 1.5;
}

.card__paper .card__back {
  display: flex;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 8px;
  bottom: 4px;
  cursor: pointer;
}

@keyframes grow-in {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes slide-in {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 14px;
  }

  .app {
    padding: 16px;
  }

  .post-list__item {
    padding: 12px;
    height: 120px;
  }

  .post-list__item .post-list__user-info .post-list__avatar {
    width: 36px;
    height: 36px;
  }

  .post-list__item .post-list__user-info .post-list__avatar svg {
    width: 20px;
    height: 20px;
  }

  .post-page .card__paper {
    width: 100%;
  }
}
